@keyframes move-background {
    from {
      transform: translate3d(0px, 0px, 0px);
    }
    to { 
      transform: translate3d(1000px, 0px, 0px);
    }
  }
  
  @-webkit-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  
  @-moz-keyframes move-background {    
    from {
      -moz-transform: translate3d(0px, 0px, 0px);
    }
    to { 
      -moz-transform: translate3d(1000px, 0px, 0px);
    }
  }
  
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
  }
  
  .twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
  }
  
  .clouds {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    animation: move-background 150s linear infinite;
    -webkit-animation: move-background 150s linear infinite;
    -moz-animation: move-background 150s linear infinite;
    -ms-animation: move-background 150s linear infinite;
    -o-animation: move-background 150s linear infinite;
  }
  
  img {
    height: 70vh;
    width: 70vh;
    position: absolute;
    z-index: 3;
    right: 20px;
  }

.txtback {
	background: transparent;
    position: relative;

	padding-top: 1em;
	padding-left: 4.5em;
	display: flex;
	justify-content: left;
}

.typewriter h1 {
	color: #fff;
	font-family: 'Courier New', Courier, monospace;
	overflow: hidden;
	/* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange;
	/* The typwriter cursor */
	white-space: nowrap;
	/* Keeps the content on a single line */
	margin: 50 auto;
	/* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em;
	/* Adjust as needed */
	animation:
		typing 3s steps(30, end),
		blink-caret .8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0
	}

	to {
		width: 100%
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {

	from,
	to {
		border-color: transparent
	}

	50% {
		border-color: orange
	}
}

.contact {
	position: absolute;
	top: 20px;
	right: 0px;
	z-index: 3;
	background-color: transparent;
}

.contact a {

	color: #fff;
	text-decoration: none;
	margin-right: 30px;
	/* Increase margin to add more space between links */
	font-size: 20px;
	text-transform: uppercase;
	transition: opacity 0.3s ease;

}

.contact a:hover {
	opacity: 0.3;
}

.context {
	background-color: #282828;
	margin-left:65px;
	width: 50%;
	margin-top: 30px;
	padding: 20px;
	opacity: 70%;
	animation: fadeIn 3.5s;
	color: #ffffff;
	overflow: hidden;
	text-wrap: nowrap;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-shadow: #000000;
	font-size: 18px;
	border-radius: 10px;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 70%;
    }
}

.probox1 {
	background-color: #282828;
	margin-left:65px;
	width: 23%;
    height: 275px;
	margin-top: 30px;
	padding: 20px;
	opacity: 70%;
	animation: fadeIn 3.5s;
	color: #ffffff;
	overflow: hidden;
	text-wrap: nowrap;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-shadow: #000000;
	font-size: 18px;
	border-radius: 10px;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 70%;
    }
}

.probox1 img{
    position: relative;
    width:128px;
    height: 128px;
    margin-left: 90px;
}

.probox2 {
	background-color: #282828;
	margin-left:435px;
	width: 23%;
    height: 275px;
	margin-top: -275px;
	padding: 20px;
	opacity: 70%;
	animation: fadeIn 3.5s;
	color: #ffffff;
	overflow: hidden;
	text-wrap: nowrap;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-shadow: #000000;
	font-size: 18px;
	border-radius: 10px;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 70%;
    }
}

.probox2 img{
    position: relative;
    width:128px;
    height: 128px;
    margin-left: 90px;
}

