@import url('https://fonts.googleapis.com/css?family=Roboto:700');


body {
    background-color: #030305;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #e5e5e5;
}

.back {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.page_img {
    position: relative;
    width: 100%;
    height: 100vh;
}

.page_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the opacity as needed */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 7px rgba(255, 255, 255, .3), 0 0 3px rgba(255, 255, 255, .3);
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    /* Ensure the text is above the overlay */
}

.container {
    font-size: 2.26rem;
}

.animation {
    height: 10rem;
    /* Adjust the height to match the new font size */
    overflow: hidden;
    margin-left: 1rem;
}

.animation>div>div {
    padding: 0.25rem 0.75rem;
    height: 15rem;
    /* Adjust the height to match the new font size */
    font-size: 5rem;
    /* Increase the font size */
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 9s infinite;
}

@keyframes text-animation {

    0%,
    20% {
        margin-top: 0;
    }

    30%,
    50% {
        margin-top: -9rem;
    }

    60%,
    80% {
        margin-top: -20rem;
    }

    90%,
    100% {
        margin-top: 0rem;
    }

    /* Adjust for the new height */
}

.content {
    padding: 20px;
}

.heading {
    position: relative;
    left: -320px;
    /* Adjust this value as needed to move the heading to the left */
    bottom: -20px;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    background-color: transparent;
}

.navbar a {

    color: #fff;
    text-decoration: none;
    margin-right: 25px;
    /* Increase margin to add more space between links */
    font-size: 18px;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
}

.navbar a:hover {
    opacity: 0.3;
}

.bottomtray {
    position: absolute;
    bottom: 50px;
    right: 27%;
    z-index: 3;
    background-color: transparent;
}

.bottomtray a {

    color: #fff;
    text-decoration: none;
    margin-right: 70px;
    /* Increase margin to add more space between links */
    font-size: 20px;
    text-transform: uppercase;
    transition: opacity 0.3s ease;

}

.bottomtray a:hover {
    opacity: 0.3;
}



.player {
    position: absolute;
    top:10px;
    left:10px;
    z-index: 3;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
}


.text{
    position: absolute;
    top: 15px;
    left: 4%;
    z-index: 3;
    font-size: 17px;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
}



